body {
    font-family: 'Times New Roman', Times, serif, serif;
    margin: 20px;
    background: linear-gradient(
        to right,
        #363636,
        #363636,
        #363636,
        #363636,
        #363636
    );
    color: #cbcbcb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }

    h1 {
        text-align: center;
        color: #ffffff;
    }

    h2 {
        text-align: center;
        color: #fcfcfc;
    }
    
    .card {
        background-color: rgba(20, 4, 37, 0.1);
        border-radius: 10px;
        padding: 20px;
        margin: 20px auto;
        max-width: 400px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.884);
    }
    img {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #000000;
        box-shadow: 0 0 10px rgb(255, 255, 255);
    }

    .cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 900px;
    margin: 30px auto;
    padding: 0 20px;
    flex: 1;
}

footer {
    background-color: #2a2a2b;
    text-align: center;
    padding: 30px;
    margin-top: 40px;
    color: #ffffff;
}

footer a {
    color: #0084ff;
    text-decoration: none;
}

@media (max-width: 600px) {
    .cards-grid {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 1.2rem;
    }

    img {
        width: 150px;
        height: 150px;
    }

    body {
        margin: 10px;
    }
}